body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  width: 1600px;
  background-color: #fff;
}

/* верхняя строка */
.top-line {
}
.logo {
  font-family: 'Raleway', sans-serif;
  color: #2196f3;
  margin-left: 215px;
  margin-top: 25px;
  text-decoration: none;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.studio-top {
  color: #000;
}
.top-line {
}
ul {
  list-style: none;
}
.top-line-menu {
}
.top-line-menu-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
.mail {
  text-decoration: none;
  color: #757575;
}
.mail:hover,
.top-line-menu-item:hover,
.top-line-menu-item:active {
  color: #2196f3;
}
/* баннер */
.banner {
  height: 600px;
  background-color: #2f303a;
}
.banner-text {
  padding-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #fff;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.banner-button {
  margin-top: 30px;
  margin-left: 700px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  background-color: #2196f3;
  color: #fff;
}
/* особенности */
.peculiarities {
}
.peculiarities-title {
}
.peculiarities-item {
}
.peculiarities-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}
.peculiarities-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}
/* занятие */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
  text-align: center;
  color: #212121;
}
/* команда */
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}
.team-spec {
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}
/* футер */
.footer {
  height: 252px;
  background-color: #2f303a;
}
.studio-foot {
  color: #fff;
}
.address-foot {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17px;
  color: rgba(255, 255, 255, 0.6);
}
.address-foot:hover,
.address-foot:focus,
.address-foot:active {
  color: #2196f3;
}
.address-post {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: #ffffff;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
}
button {
  cursor: pointer;
}
